# Strings

In [1]:
my_string = "Python is my favorite programming language!"

Print variable ```my_string``` and its type.

In [3]:
## write your solution in this cell
print(my_string)
type(my_string)

Python is my favorite programming language!

str

Function ```len()``` can be used to determine the length of the variable (number of charachters in the string including spaces and punctuations)

In [4]:
len(my_string)

43

## Formatted Strings (f-strings)

This feature allows you to insert values to be interpolated inline surrounded by braces. To create a formatted string, put an f before the opening quote mark (this is why theyâ€™re called f-strings) of your string, e.g., f'{value}':

In [5]:
first_name = "John"
last_name = "Doe"
age = 88
print(f"My name is {first_name} {last_name}, you can call me {first_name}.")
print(f"I'm {age} years old.")

My name is John Doe, you can call me John.
I'm 88 years old.

##Escape Characters

In [6]:
two_lines = "First line\nSecond line"
print(two_lines)

First line
Second line

In [7]:
indented = "\tThis will be indented"
print(indented)

	This will be indented

## String Methods



1.   ### `str.replace()`

In [8]:
my_string.replace("a", "?")
print(my_string)

Python is my favorite programming language!

This will not modify `my_string` because string is **IMMUTABLE** datatype in python. To replace some characters in `my_string` you can assigne the `my_string.replace()` to a new variable.

#### EXCERCISE
replace the word "Python" with "Java" in `my_string`.

In [10]:
## write your solution in this cell
lang = 'Python'
jlang = lang.replace("Python","Java")
print(jlang)

Java

In [11]:
print(f"Use =  {age=}")

Use =  age=88


2.   ### `str.join()`

In [12]:
King = "King"
Khalid = "Khalid"
University = "University"
university_name = " ".join([King, Khalid, University])

In [13]:
print(university_name)

King Khalid University

> #### EXCERCISE



Try to find another way to concatenate strings. You can use the intternet to find the solution.

In [18]:
## write your solution in this cell
out = ''
lest = ['King ','Khaild ','University ']
for x in range(len(lest)):
  for y in range(len(lest)):
    if x + y == len(lest)-1:
      out = lest[y] + out

print(out)

King Khaild University

3. ### Character Case Alteration `str.upper(), str.lower(), str.title()`

In [19]:
mixed_case = "inTeLLigent SystemS"
print(mixed_case)

inTeLLigent SystemS

Use the three methods str.upper(), str.lower(), str.title() to print upper case, lower case, and title case of `mixed_case`.

In [29]:
# write your solution in this cell
str.upper(mixed_case)# the output is " INTELLIGENT SYSTEMS"
str.lower(mixed_case)# the output here is "intelligent systems"
str.title(mixed_case)

'Intelligent Systems'

4. ### `str.strip()`

In [30]:
ugly_formatted = " \n \t Department of Computer Engineering "
stripped = ugly_formatted.strip()

print(f"ugly: {ugly_formatted}")
print(f"stripped: {stripped}")

ugly:
 	 Department of Computer Engineering
stripped: Department of Computer Engineering

5. ### `str.split()`

In [31]:
sentence = "three different words"
print(type(sentence))

words = sentence.split()

print(words)

<class 'str'>
['three', 'different', 'words']

In [32]:
type(words)

list

####EXCERCISE
Can you use multiple methods at once ? In the next cell, try to use as many as methods as you can.

In [48]:
my_name = "\t Yazeed Alshurify"
stripp = my_name.strip()
splited = my_name.split()
print(stripp)
print(splited)

Yazeed Alshurify
['Yazeed', 'Alshurify']

# Lists

In [50]:
empty_list = []
print(type(empty_list))
print(f"empty list: {empty_list}, type: {type(empty_list)}")

<class 'list'>
empty list: [], type: <class 'list'>

In [51]:
ListOne = [1, 2, 6, 7]
ListTwo = [0.2, 5, "Python", "is", "still fun", "!"]
print(f"lengths: {len(ListOne)} and {len(ListTwo)}")

lengths: 4 and 6

## Accessing values
Use the index to print the first element in `my_list`

In [53]:
my_list = ["Python", "is", "still", "cool"]
# Use the print function to print the first element
print(my_list[3])

cool

## Multi-dimensional lists

In [54]:
coordinates = [[12.0, 13.3], [0.6, 18.0], [88.0, 1.1]]  # two dimensional
print(f"first coordinate: {coordinates[0]}")
print(f"second element of first coordinate: {coordinates[0][1]}")

first coordinate: [12.0, 13.3]
second element of first coordinate: 13.3

## Updating values
Since lists are mutable, **can you change the value at `my_list[0]` to something else ?**

In [55]:
my_list = [0, 1, 2, 3, 4, 5]
## modify my_list in the following line
my_list[0] = '1'
## print my_list to check if the list has changed
print(my_list)

['1', 1, 2, 3, 4, 5]

In [56]:
# remove first value
del my_list[0]
print(my_list)

[1, 2, 3, 4, 5]

## Checking if a certain value is present in list

In [57]:
languages = ["Java", "C++", "Go", "Python", "JavaScript"]

if "Python" in languages:
    print("Python is there!")

if 6 not in [1, 2, 3, 7]:
    print("number 6 is not present")

Python is there!
number 6 is not present

> ### EXCERCISE
Similar to the cell above, create a variable `temp = Python` and check if the variable `temp` is present in `languages` list

In [58]:
temp = "Python"
if temp in languages:
  print("Python is there!")

Python is there!

## Lists are mutable

In [59]:
original = [1, 2, 3]
modified = original
print(f"original: {original}, modified: {modified}")

original: [1, 2, 3], modified: [1, 2, 3]

In [60]:
modified[0] = 99
print(f"original: {original}, modified: {modified}")

original: [99, 2, 3], modified: [99, 2, 3]

## **Lab activity:**
**You can solve this by copying the contents of `original` to `modified`.** Then, you can do whatever you like to `modified` without affecting `original`.

Try to do this your self.

In [64]:
## write your solution in the following lines
original = [1, 2, 3]
modified = [1, 2, 3]
modified[0] = 99
print(f"original: {original}, modified: {modified}")

original: [1, 2, 3], modified: [99, 2, 3]

## Lists Methods

1. ### `list.append()`

In [65]:
my_list = [1]
my_list.append("ham")
print(my_list)

[1, 'ham']

2. ### `list.remove()`

In [66]:
my_list = ["Python", "is", "sometimes", "fun"]
my_list.remove("sometimes")
print(my_list)

# If you are not sure that the value is in list, better to check first:
if "Java" in my_list:
    my_list.remove("Java")
else:
    print("Java is not part of this story.")

['Python', 'is', 'fun']
Java is not part of this story.

3. ### `list.sort()`

In [67]:
numbers = [8, 1, 6, 5, 10]
numbers.sort()
print(f"numbers: {numbers}")

numbers.sort(reverse = True)
print(f"numbers reversed: {numbers}")

words = ["this", "is", "a", "list", "of", "words"]
words.sort()
print(f"words: {words}")

numbers: [1, 5, 6, 8, 10]
numbers reversed: [10, 8, 6, 5, 1]
words: ['a', 'is', 'list', 'of', 'this', 'words']

4. ### `sorted(list)`

**Try to figure out the difference between the method `list.sort()` and the function `sorted(list)`**

In [69]:
numbers = [8, 1, 6, 5, 10]
sorted(numbers)
#Soretd list simply returns a new sorted copy of the list. While list.sort modify the existing list.

[1, 5, 6, 8, 10]

5. ### `list.extend()`

In [70]:
first_list = ["beef", "ham"]
second_list = ["potatoes", 1, 3]
first_list.extend(second_list)
print(f"{first_list=}, {second_list=}")

first_list=['beef', 'ham', 'potatoes', 1, 3], second_list=['potatoes', 1, 3]

 Find an Alternative way to extend lists:

In [80]:
first = [1, 2, 3]
second = [4, 5]
second[:0] = first

In [82]:
print(f"{second=}")

second=[1, 2, 3, 4, 5]